:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --inputColor: hsl(330, 12%, 97%);
  --greyText: rgb(190, 190, 190);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.topSection .headerSection {
  justify-content: space-between;
}
.topSection .headerSection .title h1 {
  font-size: var(--h1FontSize);
  font-weight: 700;
  color: var(--blackColor);
}
.topSection .headerSection .title p {
  font-size: var(--normalFontSize);
  font-weight: 500;
  color: var(--textColor);
}
.topSection .headerSection .searchBar {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
  box-shadow: 0 2px 4px var(--inputColor);
}
.topSection .headerSection .searchBar input {
  border: none;
  outline: none;
  background: none;
}
.topSection .headerSection .searchBar .icon {
  color: var(--textColor);
}
.topSection .headerSection .searchBar .icon:hover {
  color: var(--PrimaryColor);
}
.topSection .headerSection .adminDiv {
  gap: 1rem;
}
.topSection .headerSection .adminDiv .icon {
  font-size: var(--biggestFontSize);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px var(--inputColor);
  background: var(--whiteColor);
  color: var(--textColor);
}
.topSection .headerSection .adminDiv .adminImage {
  border: 3px solid var(--whiteColor);
  border-radius: 10px;
  width: 2.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--inputColor);
}
.topSection .headerSection .adminDiv .adminImage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.topSection .cardSection {
  margin-top: 3rem;
  gap: 1rem;
}
.topSection .cardSection .leftCard {
  position: relative;
  flex-basis: 80%;
  height: 240px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.topSection .cardSection .leftCard .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.topSection .cardSection .leftCard .videoDiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.topSection .cardSection .leftCard h1,
.topSection .cardSection .leftCard p,
.topSection .cardSection .leftCard .btn {
  z-index: 100;
}
.topSection .cardSection .leftCard h1 {
  font-size: var(--h1FontSize);
  color: var(--whiteColor);
  font-weight: 800;
}
.topSection .cardSection .leftCard p {
  padding: 1rem;
  color: var(--paleGreen);
  font-weight: 500;
}
.topSection .cardSection .leftCard .buttons {
  gap: 1rem;
}
.topSection .cardSection .leftCard .buttons .btn {
  color: var(--PrimaryColor);
  padding: 0.8rem 1.5rem;
  box-shadow: none;
  border: 2px solid transparent;
}
.topSection .cardSection .leftCard .buttons .transparent {
  color: var(--paleGreen);
  background: none;
  border: 2px solid var(--paleGreen);
}
.topSection .cardSection .leftCard .buttons .transparent:hover {
  color: var(--PrimaryColor);
  background: var(--paleGreen);
}
.topSection .cardSection .rightCard {
  flex-basis: 25%;
}
.topSection .cardSection .rightCard .main {
  position: relative;
  padding: 1rem;
  height: 240px;
  width: 100%;
  border-radius: 1rem;
  justify-content: space-between;
}
.topSection .cardSection .rightCard .main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--paleGreen);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
}
.topSection .cardSection .rightCard .main .textDiv {
  z-index: 100;
  width: 100%;
}
.topSection .cardSection .rightCard .main .textDiv h1 {
  font-size: var(--h1FontSize);
  padding: 1rem;
  color: var(--blackColor);
}
.topSection .cardSection .rightCard .main .textDiv .flex {
  justify-content: space-between;
  font-weight: 500;
  color: var(--blackColor);
}
.topSection .cardSection .rightCard .main .textDiv .flex small {
  font-size: var(--normalFontSize);
  display: block;
  color: var(--PrimaryColor);
  font-weight: 500;
  padding: 0.5rem 0;
}
.topSection .cardSection .rightCard .main .textDiv .link {
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.topSection .cardSection .rightCard .main .textDiv .link:hover {
  color: var(--PrimaryColor);
}
.topSection .cardSection .rightCard .main .textDiv .link:hover .icon {
  transform: translateX(20px);
  transition: 0.3s ease;
}

@media screen and (max-width: 1190px) {
  .cardSection {
    flex-direction: column;
  }
  .cardSection .leftCard {
    width: 100%;
    flex-basis: 100%;
  }
  .cardSection .rightCard {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .headerSection .searchBar {
    display: none;
  }
}
@media screen and (max-width: 595px) {
  .headerSection .adminDiv {
    display: none;
  }
  .headerSection .title {
    text-align: center;
    margin: auto;
  }
  .cardSection .leftCard {
    text-align: center;
  }
  .cardSection .leftCard .buttons {
    margin: auto;
  }
}
@media screen and (max-width: 495px) {
  .topSection .cardSection .leftCard h1 {
    font-size: var(--h2FontSize);
  }
  .topSection .cardSection .leftCard .buttons {
    flex-direction: column;
  }
  .topSection .cardSection .leftCard .buttons .btn {
    width: 100%;
  }
}/*# sourceMappingURL=Top.css.map */